#tester {
    display:none;
}
.swipeicon{
    margin-left: auto;
    margin-right: auto;
}
body:not(.pace-done) {
    cursor: url('../img/lolgusta.ani'), default;
}
body{
    overflow-x: hidden;
}

span.redirect {
    unicode-bidi:bidi-override;
    direction: rtl;
}
@media (max-width: 530px) {
    .pagination>li>a, .pagination>li>span {
        font-size: 0.7em;
    }
}
@media (max-width: 460px) {
    .pagination>li>a, .pagination>li>span {
        padding: 4px 6px;
    }
}
@media (max-width: 360px) {
    .pagination>li>a, .pagination>li>span {
        padding: 2px 3px;
    }
}

#pagination {
    cursor: pointer;
    margin-bottom: 0;
}

#soruce {
    color: #ffffff;
}

#bottomMenu{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}

.ad {
    margin-bottom: 20px;
}
.ad a{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: #fff;
}
/*pace*/
.pace .pace-progress {
    background: #ffffff;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}

/*pace*/

body {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.mem {
    max-width: 576px;

}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    border-color: #999999;
    max-width: 400px;
}

.brand h1,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
}

#container {
    height: 100% !important;
}

.navbar-nav {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.img-full {
    min-width: 100%;
}

.brand-name {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: normal;
}

.tagline-divider {
    margin: 15px auto 3px;
    border-color: #999999;
    max-width: 250px;
}

.box {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    padding: 30px 15px;
}

.intro-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25em;
    font-weight: 400;
    word-break: normal;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 0;
}

footer p {
    margin: 0;
}

@media screen and (min-width: 768px) {

    .brand h1 {
        display: inherit;
        font-weight: 700;
        font-size: 5em;
        line-height: normal;
        text-align: center;
        margin: 0;
        padding: 15px 0 5px;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        text-transform: none;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        text-align: center;
        margin: 0;
        padding: 0 0 15px;
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    .address-bar h2{
        margin: 5px;
        font-size: 1.20em;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        border: none;
    }

    .nav > li > a {
        padding: 15px;
    }

    .navbar-nav > li > a {
        line-height: normal;
    }

    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        font-size: 1em;
    }

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
